/composer.phar
/box.phar
/sf.phar
/sf.phar.*
/vendor/
.php~
.idea
.DS_Store
*~
*.bak
._*
~*
.php_cs.cache

# Auto-update
/docs/sf-old.phar

# Tests
/docker
/kubernetes
/symfony
/.sflaunchpad.yml
/.sflaunchpad.local.yml
/.ezlaunchpad.yml
/.ezlaunchpad.local.yml

# CI stuff
/build-key.pem
/sflaunchpad-private.pem
/secrets.tar
/plantuml.jar

# others
/data

# we do not want that at the root (usually generated when developing Symfony Launchpad)
/*.bash