**/*.log
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Thumbs.db
.web-server-pid
.php_cs
.php_cs.cache
**/.idea/
symfony/node_modules/
symfony/vendor/
symfony/var/cache/*
symfony/var/logs/*